:root {
  --background-color-transparent: #05050566;
  --background-color: #050505;
  --color-lighter: #fff;
  --color-light-3: #8883;
  --color-light-2: #8882;
  --color-light-1: #8881;
  --color-light: #888;
  --color: #555;
  --color-deep: #222;
  --color-deep-transparent: #22222299;
}

html,
body,
#__nuxt,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-lighter);
}

a {
  text-decoration: none;
  color: var(--color-lighter);
  border-bottom: 1px solid var(--color-deep);
  transition: border 0.3s ease-in-out;

  &:hover {
    border-bottom-color: var(--color-lighter);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
